<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% load staticfiles %}
	<link rel="icon" href="{% static 'images/deena.png' %}" type="image/gif" sizes="">
	<title>Search</title>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/search.css' %}">
</head>
<body>
	<div class="navbar">
	         <p> <a href="life">LIFESAVER</a> </p>	 
	        <a href="search">Search</a>
			<a href="about">Info</a>
			<a href="contact">Contact</a>
			<p1> <a href="login"> Logout </a></p1>
		</div>
		<div class="enquiry">
			<form>
		    <input type="text" placeholder="City" required> </br>
			<select required>
				        <option value="A">  </option>
                        <option value="O+"> O+ </option>
                        <option value="O-"> O- </option>
                        <option value="A+"> A+ </option>
                        <option value="A-"> A-</option>
                        <option value="B+"> B+ </option>
                        <option value="B-"> B- </option>
                        <option value="AB+"> AB+ </option>                    
                        <option value="AB-"> AB- </option>
			</select> </br>
			<a href="#"> <button type="submit" value="search"> Search </button> </a> 
		     </form>
		</div>